# Subrepositories — tracked separately
VoiceAuthService/
VoiceChannelDataService/
VoiceChannelDataServiceProto/
VoiceMessageService/
VoiceMessageServiceProto/
VoiceWebSocketService/
VoiceWebSocketServiceProto/
voiceclient/
